<div class="order-item mdl-card mdl-shadow--2dp">
  <div class="order-item__image">
    <div class="order-item__title mdl-card__title mdl-card--expand"
         [ngStyle]="{'background-image': 'url('+item.image+')' }">
    </div>
    <div class="order-item__text-container mdl-card__supporting-text">
      <div class="order-item__text ">
        <h4>{{item.title}}</h4>
        {{item.description}}
      </div>
    </div>
  </div>
<div class="order-item__description">
  <div class="mdl-card__actions">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Замовити
    </button>
  </div>
</div>
</div>
