.order-item {
  position: relative;
  text-align: center;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  max-width: 270px;

}

.order-item__title {
  background-size: cover;
  background-position: center center;
  height: 26.6em;
  margin-top: -8.5em;
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}


.order-item__title:after {
  content: '';
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(179, 212, 252, 0.9);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.order-item__title:hover {
  margin-top: 0;
  border-radius: 0;
}

.order-item__title:hover:after {
  opacity: 1;
}
.order-item__image {
  overflow: hidden;
  position: relative;
  height: 27.6em;
  width: 130%;
  left: -15%;
}


.order-item__description {
  position: absolute;
  z-index: 2;
  bottom : 10px;
}

