$secondary: #f4f2ee;
$secondary: #e2c2ca;
$secondary: #f5e8eb;

.app-root {
  width: 100%;
  height: 100%;
  justify-content: center;
 // background-color: $secondary;
}

.order-items-container {
  display: flex;
  justify-content: center;
  background-color: $secondary;
}
